h1, h2{
    font-family: Helvetica;
    font-weight: bold; 
}

h1{
    font-size: 100px;
    color: khaki;
    background-image: url('media/pattern.jpeg');
    text-align: center;
}

h2{
    font-size: 32px;
    color: white;
}

.brushes{
    background-color: mediumspringgreen;
}

.frames{
    background-color: lightcoral;
}

.paint{
    background-color: skyblue;
}

strong{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}